/*GENERAL STYLES*/

.App {
    width: 100vw;
    height: 100vh;
    font-family: 'Epilogue', sans-serif;
}

p {
    font-size: 18px;
}


/*HEADER*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

header .title {
    margin: 0;
    font-size: 2rem;
}


/*MAIN*/



main .main-image-container img {
    width: 100%;
}

main .main-text-content {
    padding: 0 1em;
    text-align: center;
}

main .main-text-content h2 {
    font-size: 8.5vw;
    margin-bottom: 0.65em;
}

main .main-text-content .pyramid-text {
    color: hsl(0, 0%, 41%);
    margin-bottom: 1.35em;
}

main .main-text-content .pyramid-text p {
    padding: 0;
    margin: 0;
    font-size: 4vw;
    line-height: 1.5em;
}

main .main-text-content button {
    margin-bottom: 3em;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    border: none;
    border-radius: 10px;
    padding: 1em 1.5em;
    font-weight: 700;
    font-size: 3.5vw;
}

main .main-text-content .clients {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.5em;
}

main .main-text-content .clients div {
    width: 20%;
}

main,
.main-text-content .clients div img {
    width: 100%;
}


/*Media Queries*/

@media screen and (min-width: 800px) and (max-width: 1440px) {}