/*GENERAL STYLES*/

.App {
    width: 100vw;
    height: 100vh;
    font-family: 'Epilogue', sans-serif;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    /* color: hsl(0, 0%, 41%); */
}

.overlay {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

/*HEADER*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    position: relative;
}

header .title {
    margin: 0;
    font-size: 2rem;
}

header .header-items {
    display: none;
    background-color: hsl(0, 0%, 98%);
    width: 65%;
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
}

header .header-items .close-btn-container {
    position: absolute;
    right: 8%;
    top: 3%;
}

header .header-items .menu {
    margin-top: 4em;
}

header .header-items .menu ul {
    list-style: none;
    padding: 0;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

header .header-items button {

    padding: 0;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 0.8em;
}

.dropdown-content {
    display: none;
}

.dropdown div,
a {
    color: hsl(0, 0%, 41%);
    font-size: 1rem;
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}

.auth-buttons .login {
    background: none;
    border: 0px solid transparent;
    color: hsl(0, 0%, 41%);
}

.auth-buttons .register {
    width: 85%;
    color: hsl(0, 0%, 41%);
    border: 2px solid;
    border-radius: 10px;
    background: transparent;
    padding: 0.65em 0;
}

/*MAIN*/



main .main-image-container img {
    width: 100%;
}

main .main-text-content {
    padding: 0 1em;
    text-align: center;
}

main .main-text-content h2 {
    font-size: 9.5vw;
    margin-bottom: 0.65em;
}

main .main-text-content .pyramid-text {
    color: hsl(0, 0%, 41%);
    margin-bottom: 1.35em;
}

main .main-text-content .pyramid-text p {
    padding: 0;
    margin: 0;
    font-size: 4.2vw;
    line-height: 1.5em;
}

main .main-text-content button {
    margin-bottom: 3em;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    border: none;
    border-radius: 10px;
    padding: 1em 1.5em;
    font-weight: 700;
    font-size: 3.5vw;
}

main .main-text-content .clients {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.5em;
}

main .main-text-content .clients div {
    width: 20%;
}

main,
.main-text-content .clients div img {
    width: 100%;
}


/*Media Queries*/

@media screen and (min-width: 800px) and (max-width: 1440px) {

    /*Header*/

    .hamburger-menu-container {
        display: none;
    }
}