/*GENERAL STYLES*/

.App {
    width: 100vw;
    height: 100vh;
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    /* color: hsl(0, 0%, 41%); */
}

.overlay {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

/*HEADER*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    position: relative;
}

header .title {
    margin: 0;
    font-size: 2rem;
}

header .hamburger-menu-container {
    cursor: pointer;
}

header .header-items {
    display: none;
    background-color: hsl(0, 0%, 98%);
    width: 60%;
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    /* font-size: 0.1rem; */
    padding-left: 0.5em;
}

header .header-items div,
header .header-items a,
.auth-buttons .login,
.auth-buttons .register {
    font-size: 0.85rem;
}

header .header-items .close-btn-container {
    position: absolute;
    right: 8%;
    top: 3%;
    cursor: pointer;
}

header .header-items .menu {
    margin-top: 5em;
}

header .header-items .menu ul {
    list-style: none;
    padding: 0;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

header .header-items button {

    padding: 0;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 0.8em;
    cursor: pointer;
}


.dropdown-content {
    gap: 1.35em;
    margin-top: 1.4em;
    margin-left: 1.5em;
}

.dropdown-content .feature-items {
    display: flex;
    gap: 0.8em;
    align-items: center;
}

.dropdown-content.company {
    margin-bottom: 0.6em;
}

.dropdown div,
a {
    color: hsl(0, 0%, 41%);
    font-size: 1rem;
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}

.auth-buttons button {
    cursor: pointer;
}

.auth-buttons .login {
    background: none;
    border: 0px solid transparent;
    color: hsl(0, 0%, 41%);
}

.auth-buttons .register {
    width: 85%;
    color: hsl(0, 0%, 41%);
    border: 2px solid;
    border-radius: 10px;
    background: transparent;
    padding: 0.65em 0;
}

/*MAIN*/



main .main-image-container img {
    width: 100%;
}

main .main-text-content {
    padding: 0 1em;
    text-align: center;
}

main .main-text-content h2 {
    font-size: 9.5vw;
    margin-bottom: 0.65em;
}

main .main-text-content .pyramid-text {
    color: hsl(0, 0%, 41%);
    margin-bottom: 1.35em;
}

main .main-text-content .pyramid-text p {
    padding: 0;
    margin: 0;
    font-size: 4.2vw;
    line-height: 1.5em;
}

main .main-text-content button {
    margin-bottom: 3em;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    border: none;
    border-radius: 10px;
    padding: 1em 1.5em;
    font-weight: 700;
    font-size: 3.5vw;
}

main .main-text-content button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
}

main .main-text-content .clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3.5em;
}

main .main-text-content .clients div {
    width: 20%;
}

main,
.main-text-content .clients div img {
    width: 100%;
}

.dropdown div:hover,
a:hover,
.auth-buttons button:hover {
    color: hsl(0, 0%, 8%);
}


/*Media Queries*/



@media screen and (min-width: 950px) and (max-width: 1440px) {

    /*Header*/

    header {
        justify-content: flex-start;
        padding: 1em 2em;
    }

    .hamburger-menu-container {
        display: none;
    }

    .close-btn-container {
        display: none;
    }

    header .title {
        margin-right: 1em;
    }

    header .header-items {
        display: flex;
        background: none;
        min-height: fit-content;
        position: relative;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    header .header-items .menu {
        margin-top: 0;
    }

    header .header-items .menu ul {
        display: flex;
        flex-direction: row;
        gap: 2.5em;
    }

    .dropdown-content {
        position: absolute;
        padding: 1em;
        margin: 0;
        margin-top: 1em;
        border-radius: 10px;
        background-color: white;
        padding: 1.5em;
    }

    .dropdown-content.features {
        margin-left: -5%;
    }

    .auth-buttons {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    .auth-buttons .register {
        padding: 0.65em 2em;
    }

    /*Main*/

    div.main-container {
        display: flex;
        justify-content: center;
    }

    main {
        display: flex;
        width: 80%;
        margin: 5.5em 0;
        gap: 5em;
    }


    main .main-text-content {
        order: 1;
        width: 56%;
        text-align: left;
    }

    main .main-image-container {
        align-self: stretch;
        width: 44%;
        order: 2;
    }



    main .main-text-content h2 {
        font-size: 6vw;
        margin-bottom: 0.65em;
    }

    main .main-text-content .pyramid-text {
        width: 85%;
        margin-bottom: 3em;
    }

    main .main-text-content .pyramid-text p {
        font-size: 1.3vw;
        display: inline;
    }

    main .main-text-content button {
        border-radius: 15px;
        font-size: 1.35vw;
    }

    main .main-text-content .clients {
        padding-bottom: 0;
    }

    main .main-text-content .clients div {
        width: 17.5%;
    }
}